@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #333;
}

/* Remove border inside color input */
input::-webkit-color-swatch {
  border: none;
}

.color-choice {
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  padding: 5px;
  cursor: pointer;
}

.next,
.prev {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.next {
  right: 7%;
}

.prev {
  left: 7%;
}

.arrow {
  border: solid #094386;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  background: transparent;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* QUERIES */
@media only screen and (max-width: 1380px) {
  .next,
  .prev {
    position: initial;
    display: inline-block;
    text-align: center;
    margin: 25px 20px 0 20px;
    padding: 10px;
  }
}
